html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    box-sizing: border-box;
    font-family: 'Yusei Magic', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

#myAccount {
    float: right;
    padding: 7px 6px;
    font-size: 20px;
    text-decoration: none;
    margin: 15px 2px 6px 2px;
    color: black;
}

header a#myAccount:hover {
    color: #4c96d7;
    font-size: 150%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #3a3a3a;
    overflow: hidden;
    /* With the hidden value, the overflow is clipped, and the rest of the content is hidden */
    width: 100%;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 6px;
    color: white;
    text-decoration: none;
    transition: transform .2s;
}

nav ul li a:hover {
    background-color: #4c96d7;
    transform: scale(1.15);
}

.car-intro-container {
    position: relative;
}

.car-intro {
    position: absolute;
    top: 0px;
    left: 2px;
    /* font-size: 15px; */
    font-size: 3vw;
    color: #4c96d7;
}

#own-today {
    display: block;
    margin: auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 4px 4px;
}

.upgrade-image {
    height: 100px;
    width: 100%;
    border: 2px solid black;
    padding: 4px 2px;
    margin: 10px 2px;
    background-color: #4c96d7;
}

.upgrade-image img {
    display: block;
    margin: auto;
}

.upgrade-link {
    text-align: center;
    display: block;
    margin: auto;
}

footer {
    text-align: center;
    font-size: 12px;
}

hr {
    height: 15px;
    width: 100%;
    border: 0;
    border-top: 3px solid black;
}

/* For vehicle display in classification view */
#inv-display {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#inv-display li {
    margin-bottom: .5em;
    border: 1px #ccc solid;
    list-style-type: none;
    flex: 1 1 auto;
}

#inv-display li img {
    max-width: 100%;
}
/* For vehicle display in classification view ends*/


@media only screen and (min-width: 768px) {

    body {
        background-image: url('/phpmotors/images/site/small_check.jpg');
        background-size: contain;
    }

    nav ul li a {
        padding: 8px;
        font-size: 25px;
    }

    #wrapper {
        background-color: white;
        border: 5px solid #4c96d7;
        border-radius: 10px;
        margin: 50px 80px 100px 80px;
    }

    .car-intro {
        font-size: 1.5vw;
        /* font-size: 30px; */
    }

    #own-today {
        position: absolute;
        top: 360px;
        left: 95px;
        width: 100px;
        height: auto;
    }

    .upgrades-section {
        float: left;
        width: 50%;
    }

    .reviews-section {
        float: right;
        width: 50%;
        padding-left: 25px;
    }

    .reviews-section ul li {
        font-size: 25px;
    }

    footer {
        font-size: 15px;
    }

    /* For vehicle display in classification view */
    #inv-display {
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    #inv-display h2 {
        font-size: 1rem;
    }

    #inv-display li {
        max-width: 200px;
        flex: 1 0 auto;
        text-align: center;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #inv-display div {
        width: 100%;
    }
    /* For vehicle display in classification view ends*/
}

@media only screen and (min-width: 1008px) {

    #own-today {
        top: 415px;
        left: 95px;
        width: 125px;
    }
}